div {
   width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 15px;
    border-radius: 10px;
    padding: 10px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.4);
}

.buttons button {
    height: 95%;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;
}

