div.education-info-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}

.education-info-form-div form {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    padding: 10px
}

.education-info-form-div form  input {
    width: 97%;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.1);
    border: 0;
    padding: 5px;
}

.education-info-form-div .is-present-checkbox {
    display: flex;
    margin: 5px;
    width: 15%;
    justify-content: space-around;
}

@media screen and (min-width: 768px) {
    .education-info-form-div {
        width: 90%;
    }
    .education-info-form-div form {
        flex-direction: row;
        align-items: center;
    }
}