div.general-info-form-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 20px;
}

.general-info-form-div form {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: space-between;
    align-items: center;
}

.general-info-form-div form label {
    width: 95%;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.general-info-form-div form label input, 
.general-info-form-div form label textarea {
    margin-left: auto;
    border-radius: 5px;
    background-color: rgb(0,0,0,0.1);
    border: 0;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    div.general-info-form-div {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .general-info-form-div form {
        flex-direction: row;
        flex-wrap: wrap
    }
    .general-info-form-div form label {
        width: 35%;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
}